/* SPStudios
ParkInLot
style.css */

/*    Global    */
/* ------------------------------------------------------------ */

html {
    background-color: var(--black);
    color: var(--white);
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--black);
    color: var(--white);
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
}

a {
    color: var(--light1);
}
a:hover {
    color: var(--light3);
    text-decoration: none;
}

.side {
    width: 0vw;
    margin: 0;
    padding: 0;
}

.main {
    padding-left: 0;
    padding-right: 0;
}

.text_input {
    color: var(--white);
    font-size: var(--base);
    margin-top: -0.5vh;
    margin-bottom: 4vh;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid var(--white);
    border-radius: 0;
}
.text_input:focus {
    color: var(--white);
    background-color: transparent;
    box-shadow: none;
}
.text_input:active {
    color: var(--white);
}

.btn-primary {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: var(--large2);
    font-weight: 600;
    background-color: var(--primary);
    width: 100%;
    border-radius: 15px;
    height: 8vh;
    vertical-align: middle;
}
.btn-primary:hover {
    background-color: var(--light1);
}
.btn-primary:active {
    background-color: var(--dark1);
}

.btn-outline {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: var(--large2);
    font-weight: 600;
    color: var(--white);
    background-color: transparent;
    border-color: var(--primary);
    border-width: 3px;
    width: 100%;
    border-radius: 15px;
    height: 8vh;
    vertical-align: middle;
}
.btn-outline:hover {
    border-color: var(--light1);
    color: var(--n90);
}
.btn-outline:active {
    border-color: var(--dark1);
    color: var(--n50);
}

.btn-success {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: var(--large2);
    font-weight: 600;
    background-color: var(--success);
    border-color: var(--success);
    width: 100%;
    border-radius: 15px;
    height: 8vh;
    vertical-align: middle;
}
.btn-success:hover {
    background-color: var(--success_light);
}
.btn-success:active {
    background-color: var(--success_dark);
}

.btn-danger {
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: var(--large2);
    font-weight: 600;
    background-color: var(--error);
    border-color: var(--error);
    width: 100%;
    border-radius: 15px;
    height: 8vh;
    vertical-align: middle;
}
.btn-danger:hover {
    background-color: var(--error_light);
}
.btn-danger:active {
    background-color: var(--error_dark);
}

.btn_icon {
    font-size: var(--large4);
    font-weight: 500;
    padding-right: 4px;
    vertical-align: middle;
}

.alert {
    color: var(--black);
}

.alert-info {
    background-color: var(--dark4);
    color: var(--white);
    border-color: var(--primary);
    border-radius: 15px;
    padding: 20px;
}

.alert-success {
    background-color: var(--dark4);
    color: var(--white);
    border-color: var(--success);
    border-radius: 15px;
    padding: 20px;
}

.alert-danger {
    background-color: var(--dark4);
    color: var(--white);
    border-color: var(--error);
    border-radius: 15px;
    padding: 20px;
}

/*    Nav    */
/* ------------------------------------------------------------ */

.navigation {
    padding-top: 2vw;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 4vh;
}

.btn-nav {
    font-size: var(--small1);
    background-color: var(--primary);
    color: var(--white);
    width: 100%;
    border-radius: 12px;
    height: 6vh;
    /* margin-top: 8px; */
    /* margin-right: 6vw; */
}
.btn-nav:hover {
    color: var(--white);
    background-color: var(--light1);
}
.btn-nav:active {
    background-color: var(--dark1);
}

.dropdown {
    float: right;

}

.logo_nav {
    /* padding: 5px; */
    width: 15vw;
}

/*    Login    */
/* ------------------------------------------------------------ */

.loginLogo{
    width: 80%;
    margin-top: 6vh;
    margin-bottom: 5vh;
}

.loginForm {
    margin-top: 2vh;
}

.form-text {
    font-size: var(--base);
    text-align: right;
    margin-top: -2.5vh;
}

.form-check {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 20px;
    font-size: var(--base);
}

.form-check-label {
    padding-left: 5px;
}

.btn-caption {
    margin-top: -2.5vh;
}

/*    Register    */
/* ------------------------------------------------------------ */

.logo_medium {
    width: 50%;
    margin-top: 6vh;
    margin-bottom: 5vh;
}

.register_title {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.register_title2 {
    padding-top: 4vh;
    padding-bottom: 2vh;
    color: var(--primary);
}

.input_title {
    margin-bottom: 0;
    font-weight: 600;
}

/*    Forgot Username/Password    */
/* ------------------------------------------------------------ */

.forgot_title {
    padding-top: 1vh;
    padding-bottom: 3vh;
}

.forgot_text {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/*    Profile    */
/* ------------------------------------------------------------ */

.profile_image {
    /* background-image:url('../Images/default.jpg'); */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1.5vh;
}

.profile_subtitle {
    color: var(--n60);
    margin-top: -1vh;
    margin-bottom: 2vh;
}

.tokens {
    color: var(--light3);
    margin-top: -0.75vh;
}

.divider {
    background-color: var(--p30);
    width: 100%;
    height: 0.5px;
    outline: 0;
    margin-bottom: 4vh;
}

/*    Index    */
/* ------------------------------------------------------------ */

/* .btn-request {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-offer {
    /* background-color: var(--analogous2);
    border-color: var(--analogous2); */
/* }  */


/*    Update    */
/* ------------------------------------------------------------ */

.update_title {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: var(--primary);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: #eee; */
    /* color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    /* background-color: #ccc; */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    /* background-color: white; */
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /*unicode character for 'plus' sign (+) */
    /* font-size: 13px; */
    /* color: #777; */
    float: right;
    margin-left: 5px;
}

/*    Request/Offer    */
/* ------------------------------------------------------------ */

.spot_title {
    padding-top: 1vh;
    padding-bottom: 3vh;
}

.lot-form {
    width: 20%;
}

.profile_image_small {
    /* background-image:url('../Images/default.jpg'); */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 4vh;
    margin-bottom: 1.5vh;
}


/*    Mobile    */
/* ------------------------------------------------------------ */
@media only screen and (max-device-width: 896px) {

    /*    Global    */
    /* -------------------------------------------------------- */

    .text_input {
        font-size: var(--mobile_large1);
        margin-top: 0vh;
    }

    .btn-primary {
        font-size: var(--mobile_large4);
        height: 7vh;
    }

    .btn-outline {
        font-size: var(--mobile_large4);
        height: 7vh;
        border-width: 4px;
    }

    .btn-success {
        font-size: var(--mobile_large4);
        height: 7vh;
    }

    .btn-danger {
        font-size: var(--mobile_large4);
        height: 7vh;
    }

    .alert {
        font-size: var(--mobile_large2);
        padding: 25px;
        border-width: 2px;
    }

    /*    Nav    */
    /* ------------------------------------------------------------ */

    .navigation {
        padding-top: 2vh;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 3vh;
    }

    .btn-nav {
        font-size: var(--mobile_small1);
        height: 5vh;
        margin-top: 20px;
        /* margin-right: 25px; */
    }

    .logo_nav {
        /* padding: 15px; */
        margin-top: 1vh;
        height: 4.5vh;
        width: auto;
    }

    /*    Login.php    */
    /* -------------------------------------------------------- */

    .loginLogo{
        width: 75%;
        margin-top: 6vh;
        margin-bottom: 8vh;
    }

    .loginForm {
        margin-top: 2vh;
    }

    .form-text {
        font-size: var(--mobile_large1);
        margin-top: -2.5vh;
        padding-bottom: 1vh;
    }

    .form-check {
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 40px;
        font-size: var(--mobile_base);
    }

    .form-check-input {
        margin-top: 20px;
        transform: scale(2);
    }

    /*    Register    */
    /* ------------------------------------------------------------ */

    .register_title2 {
        padding-bottom: 3vh;
    }

    .input_title {
        font-size: var(--mobile_large1);
    }

    /*    Profile    */
    /* ------------------------------------------------------------ */

    .profile_image {
        /* background-image:url('../Images/default.jpg'); */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 1.5vh;
    }

    .profile_subtitle {
        margin-top: 0vh;
    }

    .tokens {
        color: var(--light3);
        margin-top: -0.25vh;
    }

    /*    Update    */
    /* ------------------------------------------------------------ */

    .update_title {
        padding-bottom: 4vh;
    }

    /*    Request/Offer    */
    /* ------------------------------------------------------------ */

    .profile_image_small {
        /* background-image:url('../Images/default.jpg'); */
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 2vh;
        margin-bottom: 0vh;
    }

}
